.home-cover {
    width: 100wv;
    height: 90vh;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}

.shadow-cover {
    content: '';
    top: 0;
    z-index: 100;
    background-color: white;
    height: 100vh;
    background:
        linear-gradient(180deg, white, transparent 80%);
}

.home-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 70vw;
    right: 15%;
    height: inherit;
    text-transform: capitalize;

    p {
        margin: 20px 0;
        color: #2F3645;
    }
}

.home-content .action {
    button {
        width: 150px;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: white;
        color: var(--color1);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: transform .2s;
    }

    button:hover {
        cursor: pointer;
        background-color: var(--color1);
        color: white;
        transform: scale(1.1);
    }
}

.home-labelInformation {
    display: flex;
    background-color: var(--color1);
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
    color: white;
    margin-bottom: 5rem;

    .detail {
        display: flex;
    }

    .desc {
        margin-left: 10px;
        width: 90px;
    }
}

.home-product {
    display: flex;
    flex-direction: column;
    height: 60vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.home-product .label {
    text-align: center;
    margin-bottom: 6rem;
}

.home-cardProduct {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.home-cardProduct .card {
    width: 180px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 0.5px solid var(--color2);
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: transform .2s;
}

.home-cardProduct .card:hover {
    box-shadow: 0 2px 4px 0 rgb(4, 30, 102);
    transform: scale(1.04);
}

.home-cardProduct .card:hover .icon {
    background-color: var(--color1);
}

.home-cardProduct .card .icon {
    background-color: rgba(51, 93, 209, 0.219);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    border-radius: 50px;
    margin-bottom: 10px;
}

.home-cardProduct .card .detail {
    h2 {
        margin-bottom: 10px;
    }

    p {
        font-size: 12px;
        color: #2F3645;
    }

    margin-bottom: 10px;
}

.home-cardProduct .card .action {
    display: flex;
    color: var(--color1);
}

.home-cardProduct .card .action:hover {
    cursor: pointer;
}

.home-container {
    display: flex;
    justify-content: center;
}

.home-aboutme {
    display: flex;
    width: 75vw;
}

.home-aboutme .detail {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        color: var(--color1);
    }
    h3 {
        margin: 10px 0 20px;
        font-size: 40px;
    }
    p {
        font-size: 20px;
        margin-bottom: 20px;        
    }
    button {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        outline: none;
        border: none;
        font-size: 15px;
    }
}

.home-aboutme .image {
    width: 50%;

    img {
        width: 100%;
        height: 400px;
        border-radius: 50px 0 50px 50px;
    }
}