.nav-container {
    position: fixed;
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    padding: 20px 60px   ;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: "Roboto", sans-serif;
    transition:  .4s ease-in;
}

.nav-container-bg {
    background-color: white;
    box-shadow: 5px 1px 10px 1px #888888;
}

.nav-content {
    display: flex;
}

.nav-menu {
    display: flex;
    margin-right: 20px;
    box-sizing: border-box;
    gap: 20px;
    
    .action {
        list-style-type: none;
        padding: 10px;
    }

    .action:hover {
        color: var(--color1);
        cursor: pointer;
        font-weight: 600;
        background-color: var(--color3);
        border-radius: 10px;
    }
}

.nav-fullscreen {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-hamburger {
    display: none;
}

.nav-sign {
    button {
        width: 90px;
        height: 40px;
        border-radius: 10px;
        outline:none;
        border: 2px solid var(--color1);
    }

    button:hover{
        cursor: pointer;
        background-color: var(--color1);
        color: white;
    }
}

@media (max-width: 800px) {
    .nav-fullscreen{
        position: absolute;
        background-color: var(--color2);
        top: 40px;
        right: -200px;
        display: none;
        flex-direction: column;
        width: 200px;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        .nav-menu {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            margin-right: 0;
        }
    }
    
    .nav-fullscreentrue{
        background-color: var(--color2);
        top: 40px;
        right: 0;
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 200px;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        .nav-menu {
            display: flex;    
            flex-direction: column;
            margin-bottom: 20px;
            margin-right: 0;
        }
    }

    .nav-hamburger {
        display: block;
    }
}